* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
.sale {
  background-color: saddlebrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
}
.sale p {
  font-weight: bold;
}
.sale ul {
  display: flex;
}
.sale ul li {
  margin: 10px;
}
.sale ul li a {
  color: white;
  font-weight: bold;
}
.sale i {
  margin-left: 5px;
  margin-right: 5px;
}
.nav-bar {
  align-items: center;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: rgb(253, 253, 235);
}
.nav-bar img {
  width: 100px;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li {
  margin: 7px;
}
.new-arrivals {
  background-position: center;
  background-size: cover;
  background-image: url(/Images/header-shoe.jpg);
  height: 85vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.new-arrivals h1 {
  font-size: 60px;
  color: white;
  font-weight: bolder;
}
.new-arrivals p {
  color: white;
  font-size: 40px;
  padding-bottom: 30px;
}
.shop-button {
  background-color: white;
  color: saddlebrown;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s ease;
}
.new-arrivals button:hover {
  background-color: white;
  color: black;
  letter-spacing: 1px;
  transition: 0.2s ease;
}
.feature {
  padding: 120px 60px;
  background-color: rgb(253, 253, 235);
}
.feature-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.feature-text {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.feature-text h2 {
  font-size: 45px;
  color: saddlebrown;
}
.feature-text p {
  font-size: 36px;
  color: saddlebrown;
  padding-bottom: 10px;
}
.feature-image {
  width: 500px;
}
.feature-image img {
  width: 100%;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.2),
    5px 5px 15px rgba(0, 0, 0, 0.3);
}
.feature i {
  font-size: 20px;
  padding-bottom: 40px;
}
.feature-button {
  background-color: saddlebrown;
  color: white;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s ease;
}
.feature-button:hover {
  color: black;
  letter-spacing: 1px;
  transition: 0.2s ease;
}
.top-picks {
  background-color: rgb(253, 253, 235);
  padding: 0px 60px;
  
}
.top-picks h2 {
  font-size: 40px;
  color: saddlebrown;
  
}
.top-picks p {
  color: saddlebrown;
  padding-bottom: 50px;
}
.top-picks-header{
    text-align: center;

}
.pick-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.p1{
    width: 300px;
    
}
.pick-items img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
.pick-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.pick-text h3{
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.pick-text p{
    font-size: 15px;
    font-weight: bolder;
}
